<footer class="footer section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="social-media">
          <li>
            <a href="https://www.facebook.com/sttmountain" target="_blank">
              <i class="tf-ion-social-facebook"></i>
            </a>
          </li>
          <li>
            <a title="網站原始碼" href="https://github.com/CTingy/sttmountain" target="_blank">
              <i class="tf-ion-social-github"></i>
            </a>
          </li>
          <li>
            <a title="聯絡網站開發者" href="mailto: ctingydev@gmail.com" target="_blank">
              <i class="tf-ion-android-mail"></i>
            </a>
          </li>
          <li>
            <a title="網站樣板來源" href="https://themefisher.com/products/aviato-e-commerce-template/" target="_blank">
              <i class="tf-ion-ios-flower"></i>
            </a>
          </li>
          <li>
            <a title="Nature Quotes"
              href="https://www.countryliving.com/life/entertainment/g18924890/nature-quotes/?slide=1" target="_blank">
              <i class="tf-ion-leaf"></i>
            </a>
          </li>
        </ul>
        <ul class="footer-menu">
          <!-- <li>
            <a href="">CONTACT</a>
          </li>
          <li>
            <a href="">SHIPPING</a>
          </li>
          <li>
            <a href="">TERMS OF SERVICE</a>
          </li>
          <li>
            <a href="">PRIVACY POLICY</a>
          </li> -->
        </ul>
        <p class="copyright-text">Powered by Bootstrap and <a href="https://themefisher.com/free-bootstrap-templates/"
            target="_bland">THEMFISHER</a></p>
      </div>
    </div>
  </div>
</footer>
