<section class="menu">
  <nav class="navbar navigation">
    <div class="container">
      <div class="navbar-header">
        <h3 class="menu-title">選單</h3>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div><!-- / .navbar-header -->

      <!-- Navbar Links -->
      <div id="navbar" class="navbar-collapse collapse text-center">
        <ul class="nav navbar-nav">

          <!-- Home -->
          <li class="dropdown ">
            <a href="/">首頁</a>
          </li><!-- / Home -->

          <li class="dropdown ">
            <a href="#">公告</a>
          </li>

          <li class="dropdown ">
            <a href="{{ url_for('event.events') }}">隊伍/紀錄</a>
          </li>

          <li class="dropdown ">
            <a href="#">討論區</a>
          </li>

          <!-- Pages -->
          <li class="dropdown full-width dropdown-slide">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
              role="button" aria-haspopup="true" aria-expanded="false">關於 <span
                class="tf-ion-ios-arrow-down"></span></a>
            <div class="dropdown-menu">
              <div class="row">

                <!-- Introduction -->
                <div class="col-sm-3 col-xs-12">
                  <ul>
                    <li class="dropdown-header">介紹</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="blog-left-sidebar.html">簡介</a></li>
                    <li><a href="blog-right-sidebar.html">記事</a></li>
                    <li><a href="blog-right-sidebar.html">山下例行活動</a></li>
                    <li><a href="blog-full-width.html">加入我們</a></li>
                    <li><a href="blog-grid.html">FAQ</a></li>
                  </ul>
                </div>

                <!-- Introduction -->
                <div class="col-sm-3 col-xs-12">
                  <ul>
                    <li class="dropdown-header">組織架構</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="about.html">工作組（行政）</a></li>
                    <li><a href="faq.html">嚮導隊</a></li>
                    <li><a href="faq.html">等級制度</a></li>
                    <li><a href="faq.html">幹部群（山防組）</a></li>
                  </ul>
                </div>

                <!-- Contact -->
                <div class="col-sm-3 col-xs-12">
                  <ul>
                    <li class="dropdown-header">規範</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="order.html">裝備租借</a></li>
                    <li><a href="profile-details.html">例行會議</a></li>
                    <li><a href="profile-details.html">開隊流程</a></li>
                    <li><a href="dashboard.html">法規 - 行政組織法</a></li>
                    <li><a href="order.html">法規 - 山野活動分級與審核</a></li>
                  </ul>
                </div>

                <!-- Mega Menu -->
                <div class="col-sm-3 col-xs-12">
                  <a href="shop.html">
                    <img class="img-responsive" src="{{ url_for('static', filename='images/321.jpg') }}"
                      alt="menu image" />
                  </a>
                </div>
              </div><!-- / .row -->
            </div><!-- / .dropdown-menu -->
          </li><!-- / Pages -->

          <!-- Blog -->
          <li class="dropdown dropdown-slide">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
              role="button" aria-haspopup="true" aria-expanded="false">山上 <span
                class="tf-ion-ios-arrow-down"></span></a>
            <ul class="dropdown-menu">
              <li><a href="blog-left-sidebar.html">探勘&nbsp&nbsp<i class="tf-ion-leaf"></i></a></li>
              <li><a href="blog-right-sidebar.html">攀岩&nbsp&nbsp<i class="tf-ion-hammer"></i></a></li>
              <li><a href="blog-full-width.html">溯溪&nbsp&nbsp<i class="tf-ion-waterdrop"></i></a></li>
              <li><a href="blog-right-sidebar.html">活動隊伍&nbsp&nbsp<i class="tf-ion-android-color-palette"></i></a></li>
              <li><a href="blog-full-width.html">大眾化&nbsp&nbsp<i class="tf-ion-speakerphone"></i></a></li>
              <li><a href="blog-grid.html">探洞&nbsp&nbsp<i class="tf-ion-lightbulb"></i></a></li>
            </ul>
          </li><!-- / Blog -->

          {% if current_user.is_authenticated %}
          <!-- Blog -->
          <li class="dropdown dropdown-slide">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
              role="button" aria-haspopup="true" aria-expanded="false">山防 <span
                class="tf-ion-ios-arrow-down"></span></a>
            <ul class="dropdown-menu">
              <li><a href="profile-details.html">山防啟動流程</a></li>
              <li><a href="profile-details.html">直升機SOP</a></li>
              <li><a href="profile-details.html">留守須知</a></li>
              <li><a href="profile-details.html">幹部守則</a></li>
              <li><a href="profile-details.html">隊伍審核原則</a></li>
              <li><a href="profile-details.html">歷屆山難</a></li>
            </ul>
          </li><!-- / Blog -->
          {% endif %}

        </ul><!-- / .nav .navbar-nav -->

      </div>
      <!--/.navbar-collapse -->
    </div><!-- / .container -->
  </nav>
</section>
