{% extends "base.html" %}

{% block content %}
<section class="signin-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="block text-center">
          <form class="text-left clearfix" action="" method="POST">
            <h3 class="text-center">編輯每日實際行程、出隊心得/感想</h3>
            <br>
            <a href="{{ url_for('event.detail', event_id=event.id) }}">
              <p style="color: blue;" class="text-center">回出隊文</p>
            </a>
            {% include 'alerts.html' %}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input id="itinerary_num" type="hidden" name="itinerary_len" value="{{ max_day }}">
            <div id="unit">
              {% for itinerary in itinerary_list %}
              <div id="{{ itinerary.day_number }}" class="form-row">
                <div class="col-md-8">
                  <label class="col-form-label">D{{ itinerary.day_number }}</label>
                  <input type="text" name="content{{ itinerary.day_number }}"
                    value="{% if itinerary.content %}{{ itinerary.content }}{% endif %}" class="form-control content"
                    placeholder=""><br>
                </div>
                <div class="col-md-2">
                  <label class="col-form-label">水源</label>
                  <input type="text" name="water_info{{ itinerary.day_number }}"
                    value="{% if itinerary.water_info %}{{ itinerary.water_info }}{% endif %}"
                    class="form-control water_info" placeholder="ex:大陸池，不穩">
                </div>
                <div class="col-md-2">
                  <label class="col-form-label">通訊</label>
                  <input type="text" name="communication_info{{ itinerary.day_number }}"
                    value="{% if itinerary.communication_info %}{{ itinerary.communication_info }}{% endif %}"
                    class="form-control communication_info" placeholder="ex:中華、衛星">
                </div>
              </div>
              {% endfor %}
            </div>
            <br>
            <div class="text-center col-md-12">
              <a id="addInput" onclick="addFormRow()" class="btn btn-default btn-round-full"><i
                  class="tf-ion-android-add"></i> 增加</a>
              <a id="minusInput" onclick="minusFormRow()" class="btn btn-default btn-round-full"><i
                  class="tf-ion-minus"></i> 減少</a>
            </div>
            <hr>
            <div class="form-group col-md-12">
              <label class="col-form-label" for="Textarea1">評語</label>
              <textarea class="form-control" name="feedback" id="Textarea1" rows="10"
                placeholder="填入感想/心得/路況...">{% if event.feedback %}{{ event.feedback }}{% endif %}</textarea>
            </div>
            <br>
            <div class="text-center col-md-12">
              <br>
              <button type="submit" class="btn btn-main text-center">送出</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block script %}
<script>
  function addFormRow() {
    // day number of inputs to create
    var presentNumber = document.getElementById("itinerary_num");
    var dayNumber = parseInt(presentNumber.value);

    var div = document.getElementById("0");
    div = div.cloneNode(true);

    var newDayNumber = dayNumber + 1;
    // day number label
    div.getElementsByTagName('label')[0].innerHTML = "D" + newDayNumber;
    var divInputs = div.getElementsByTagName('input')

    // clear all the inputs value and set new "name" attr
    // content
    divInputs[0].setAttribute("name", "content" + newDayNumber);
    divInputs[0].setAttribute("value", "");
    // water
    divInputs[1].setAttribute("name", "water_info" + newDayNumber);
    divInputs[1].setAttribute("value", "");
    // communication
    divInputs[2].setAttribute("name", "communication_info" + newDayNumber);
    divInputs[2].setAttribute("value", "");

    // set new dayNumber
    div.setAttribute("id", newDayNumber);
    presentNumber.setAttribute("value", newDayNumber);
    document.getElementById("unit").appendChild(div);
  }

  function minusFormRow() {
    // day number of inputs to create
    var presentNumber = document.getElementById("itinerary_num");
    var dayNumber = parseInt(presentNumber.value);

    document.getElementById(dayNumber).remove();

    var newDayNumber = dayNumber - 1;
    // set new dayNumber
    presentNumber.setAttribute("value", newDayNumber);
  }
</script>
{% endblock %}
