<br>
<h4></h4>
<div style="display: -webkit-inline-box; float:right;">
  <div class="btn-group" role="group">
    {% if current_user.id == prop.created_by.id %}
    <button title="修改出隊人員" type="button" class="btn btn-default"><a
        href="{{ url_for('proposal.update', prop_id=prop.id) }}"><i class="tf-pencil2" aria-hidden="true"></i>
        修改</a></button>
    {% endif %}
  </div>
</div>
<h3 class="text-center">人員資料表</h3>
<br>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-center" scope="col">系級<br>學號</th>
        <th class="text-center" scope="col">姓名<br>電話</th>
        <th class="text-center" scope="col">級數<br>資歷</th>
        <th class="text-center" scope="col">身份證字號<br>生日</th>
        <th class="text-center" scope="col">緊急聯絡人<br>電話</th>
        <th class="text-center" scope="col">血型</th>
        <th class="text-center" scope="col">藥物<br>過敏</th>
        <th class="text-center" scope="col">未成年<br>
          < 20</th>
        <th class="text-center" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for a in prop.attendees %}
      <tr>
        <td class="text-center">{{ a.department_and_grade }}{% if a.student_id %}<br>{{ a.student_id }}{% endif %}</td>
        <td class="text-center">
          {% if a.user_id %}<a title="檢視個人資料頁" style="color: cornflowerblue;"
            href="{{ url_for('user.detail', user_id=a.user_id) }}"><b>{{ a.name }}</b></a>
          {% else %}{{ a.name }}{% endif %}<br>{{ a.cellphone_number }}</td>
        <td class="text-center">
          {% if a.highest_difficulty %}{{ a.get_highest_difficulty_display() }}{% endif %}<br>
          {% if a.highest_difficulty_experience %}{{ a.highest_difficulty_experience }}{% endif %}</td>
        <td class="text-center">
          {% if current_user.id == prop.created_by.id %}{{ a.security_number }}<br>{{ a.birthday_str }}
          {% else %}僅開隊者可見資料{% endif %}
        </td>
        <td class="text-center">
          {% if current_user.id == prop.created_by.id %}
          {{ a.emergency_contact }}
          {% if a.emergency_contact_relationship %}({{ a.emergency_contact_relationship }}){% endif %}
          <br>{{ a.emergency_contact_phone }}</td>{% else %}僅開隊者可見資料{% endif %}
        <td class="text-center">{% if a.blood_type %}{{ a.blood_type }}{% endif %}</td>
        <td class="text-center">{{ a.drug_allergy }}</td>
        <td class="text-center">{% if not a.is_adult %}V{% endif%}</td>
        <td class="text-center"></td>
        <td class="text-center">
          <a target="_blank" href="{{ url_for('event.member_history', member_id=a.id) }}" title="搜尋該人員出隊紀錄"
            type="button" class="btn btn-default btn-round-full"><i class="tf-search3" aria-hidden="true"></i></a>
          {% if current_user.id == prop.created_by.id %}
          <a target="_blank" href="{{ url_for('member.update', member_id=a.id) }}" title="修改該人員資料內容" type="button"
            class="btn btn-default btn-round-full"><i class="tf-ion-edit" aria-hidden="true"></i></a>{% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if current_user.id == prop.created_by.id %}
  <div class="text-center" data-toggle="modal" data-target="#ModalGenDoc" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <br><br>
    <button type=" submit" class="btn btn-main btn-medium">
      產生人員名冊
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
  <!-- Modal -->
  <div class="modal fade" id="ModalGenDoc" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <form action="{{ url_for('proposal.gen_doc', prop_id=prop.id) }}" method="POST">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="text-center">產生檔案</h3>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="col-md-12">
              <br><br>
              <p class="">
                1. 請填寫檔案位置，建議開好一個隊伍資料夾，並確認該檔案位置已開啟更改權限給山協網站主機。<br><br>
                2. 若下表空白，將於山協資料夾根目錄建立以隊伍為名之資料夾，並將人員資料表至於其中</p>
              <br>
              <div class="form-group">
                <label>google drive 網址</label>
                <input type="text" class="form-control" name="doc_url" placeholder="ex: sttmountain G Suite出隊資料夾檔案網址">
              </div>
              <br>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary">確定產生</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end modal -->
  {% endif %}
</div>
