{% if not prop.event_id and current_user.is_authenticated %}
<h2 class="text-center">{{ prop.title }}&nbsp;&nbsp;
  <button title="發佈為出隊文" type="button" data-toggle="modal" data-target="#Modal{{ prop_id }}"
    class="btn btn-default btn-round-full"><i class="tf-upload2" aria-hidden="true"></i></button></h2>
<!-- Modal -->
<div class="modal fade" id="Modal{{ prop_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form action="{{ url_for('event.create', prop_id=prop.id) }}" method="POST">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="text-center">發佈為出隊文</h3>
          <p class="text-center">請填寫下表</p>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="col-md-12">
            <br><br>
            <div class="form-group">
              <label>出發時間 (不可晚於上山時間：{{ prop.start_date_str }})</label>
              <input required type="text" class="form-control" name="gathering_time" placeholder="ex: 2020/04/15 15:30">
            </div>
            <div class="form-group">
              <label>集合地點</label>
              <input required type="text" class="form-control" name="gathering_point" placeholder="ex:光口">
            </div>
            <br>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">確定發佈</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- end modal -->
{% else %}
<h2 class="text-center">{{ prop.title }}
  <a href="{{ url_for('event.detail', event_id=prop.event_id) }}" title="查看出隊文" type="button"
    class="btn btn-default btn-round-full"><i class="tf-flag2"></i></a></h2>
{% endif %}
<br><br>
<div class="row">
  <div class="col-md-2">
    <p><b>活動日期</b>:&nbsp;</p>
  </div>
  <div class="col-md-3">
    {{ prop.start_date_str }}&nbsp;～&nbsp;{{ prop.end_date_str }}
  </div>
  <div class="col-md-2">
    <p><b>天數</b>:&nbsp;</p>
  </div>
  <div class="col-md-3">
    {{ prop.days }} 天
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p><b>隊伍類型</b>:&nbsp;</p>
  </div>
  <div class="col-md-3">
    {{ prop.get_event_type_display() }}
  </div>
  <div class="col-md-2">
    <p><b>級數</b>:&nbsp;</p>
  </div>
  <div class="col-md-3">
    {{ prop.difficulty }}
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p><b>留守</b>:&nbsp;</p>
  </div>
  <div class="col-md-3">
    {{ prop.supporter }}
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p><b>領隊</b>:&nbsp;</p>
  </div>
  <div class="col-md-3">
    {{ prop.leader.name }}
  </div>
  <div class="col-md-2">
    <p><b>嚮導</b>:&nbsp;</p>
  </div>
  <div class="col-md-3">
    {{ prop.guide.name }}
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p><b>活動人員</b>:&nbsp;</p>
  </div>
  <div class="col-md-8">
    {% for a in prop.attendees %}
    {% if a.user_id %}<b><a style="color: cornflowerblue;"
        href="{{ url_for('user.detail', user_id=a.user_id ) }}">{{ a.attendee_display }}</a></b>
    {% else %}
    {{ a.attendee_display }}
    {% endif %}
    、{% endfor %}
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p><b>人員結構</b>:&nbsp;</p>
  </div>
  <div class="col-md-8">
    <br>
    總人數： {{ prop.total_number }} <br>
    幹/隊/新： {{ prop.level_ratio }} <br>
    男女比： {{ prop.gender_ratio }} <br><br>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p><b>預備天</b>:&nbsp;</p>
  </div>
  <div class="col-md-8">
    {{ prop.buffer_days }} 天
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p><b>交通方式</b>:&nbsp;</p>
  </div>
  <div class="col-md-8">
    <span style="white-space: pre-wrap;">{{ prop.approach_way }}</span>
    <br><br>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p><b>無線電</b>:&nbsp;</p>
  </div>
  <div class="col-md-3">
    {{ prop.radio }}
  </div>
  <div class="col-md-2">
    <p><b>衛星電話</b>:&nbsp;</p>
  </div>
  <div class="col-md-3">
    {{ prop.satellite_telephone }}
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p><b>開機時間</b>:&nbsp;</p>
  </div>
  <div class="col-md-8">
    {{ prop.open_time }}
  </div>
</div>
