{% extends "event_home.html" %}

{% block sub_content %}

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">隊伍基本資料</a></li>
  <li><a data-toggle="tab" href="#menu1">預計行程</a></li>
  <li><a data-toggle="tab" href="#menu2">詳細人員資料</a></li>
  <li><a data-toggle="tab" href="#menu3">裝備表</a></li>
  <li><a data-toggle="tab" href="#menu4">行前會</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <!-- 基本資料 -->
    <br>
    <h4></h4>
    <div style="display: -webkit-inline-box; float:right;">
      <div class="btn-group" role="group">
        <button title="修改基本資料" type="button" class="btn btn-default"><a
            href="{{ url_for('proposal.update', prop_id=prop.id) }}"><i class="tf-pencil2"
              aria-hidden="true"></i></a></button>
        <button title="刪除整個出隊提案" type="button" data-toggle="modal" data-target="#Modal" class="btn btn-default"><i
            class="tf-ion-close" aria-hidden="true"></i></button>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4>你確定要刪除出隊提案？刪除後將無法復原喔！</h4>
          </div>
          <div class="modal-footer">
            <form action="{{ url_for('proposal.delete', prop_id=prop.id)}}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
              <button type="submit" class="btn btn-danger">確定刪除</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end Modal -->
    <h2 class="text-center">{{ prop.title }}</h2>
    <br>
    <div class="row">
      <div class="col-md-2">
        <p><b>活動日期</b>:&nbsp;</p>
      </div>
      <div class="col-md-3">
        {{ prop.start_date_str }}&nbsp;～&nbsp;{{ prop.end_date_str }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p><b>留守</b>:&nbsp;</p>
      </div>
      <div class="col-md-3">
        {{ prop.supporter }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p><b>領隊</b>:&nbsp;</p>
      </div>
      <div class="col-md-3">
        {{ prop.leader.name }}
      </div>
      <div class="col-md-2">
        <p><b>嚮導</b>:&nbsp;</p>
      </div>
      <div class="col-md-3">
        {{ prop.guide.name }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p><b>活動人員</b>:&nbsp;</p>
      </div>
      <div class="col-md-3">
        {% for a in prop.attendees %}{{ a.name }}、{% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p><b>人員結構</b>:&nbsp;</p>
      </div>
      <div class="col-md-3">
        總人數： {{ prop.total_number }} <br>
        幹/隊/新： {{ prop.level_ratio }} <br>
        男女比： {{ prop.gender_ratio }} <br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p><b>預備天</b>:&nbsp;</p>
      </div>
      <div class="col-md-3">
        {{ prop.buffer_days }}天
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p><b>交通方式</b>:&nbsp;</p>
      </div>
      <div class="col-md-8">
        {{ prop.approach_way }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p><b>無線電</b>:&nbsp;</p>
      </div>
      <div class="col-md-8">
        {{ prop.radio }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p><b>衛星電話</b>:&nbsp;</p>
      </div>
      <div class="col-md-8">
        {{ prop.satellite_telephone }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p><b>開機時間</b>:&nbsp;</p>
      </div>
      <div class="col-md-8">
        {{ prop.open_time }}
      </div>
    </div>
  </div>
  <!-- 基本資料end -->
</div>
<div id="menu1" class="tab-pane fade">
  <!-- 詳細人員資料 -->

  <!-- 詳細人員資料end -->
</div>
<div id="menu2" class="tab-pane fade">
</div>
<div id="menu3" class="tab-pane fade">
</div>
<div id="menu4" class="tab-pane fade">
</div>
</div>



{% endblock %}
