{% extends "base.html" %}

{% block content %}
<section class="signin-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="block text-center">
          <a class="logo" href="/">
            <img src="{{ url_for('static', filename='images/stt_logo.png') }}" alt="">
          </a>
          <form class="text-left clearfix" action="" method="post">
            <h4 class="text-center">填入每日預計行程</h4>
            <br>
            {% include 'alerts.html' %}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            {% for itinerary in itinerary_list %}
            <div class="form-row">
              <div class="form-group col-md-8">
                <label class="col-form-label">D{{ itinerary.day_number }}</label>
                <input type="text" name="content{{ itinerary.day_number }}"
                  value="{% if itinerary.content %}{{ itinerary.content }}{% endif %}" class="form-control"
                  placeholder=" 填入D{{ itinerary.day_number }}預定行程">
              </div>
              <div class="form-group col-md-2">
                <label class="col-form-label">水源</label>
                <input type="text" name="water_info{{ itinerary.day_number }}"
                  value="{% if itinerary.water_info %}{{ itinerary.water_info }}{% endif %}" class="form-control"
                  placeholder="大陸池、不穩"></div>
              <div class="form-group col-md-2">
                <label class="col-form-label">通訊</label>
                <input type="text" name="communication_info{{ itinerary.day_number }}"
                  value="{% if itinerary.communication_info %}{{ itinerary.communication_info }}{% endif %}"
                  class="form-control" placeholder="中華電信/衛星">
              </div>
            </div>
            {% endfor %}
            <div class="text-center col-md-12">
              <br>
              <button type="submit" class="btn btn-main text-center">送出</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
