{% extends "event_home.html" %}
{% block page_name %}
提案隊伍總覽
{% endblock%}
{% block sub_content %}
{% for prop in proposals %}
<div class="post">
  {% if not prop.published_at %}
  <form action="{{ url_for('proposal.publish', prop_id=prop.id) }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <h2 class="post-title">
      {{ prop.title }}&nbsp;&nbsp;
      <button title="發佈為出隊文" type="submit" class="btn btn-default btn-round-full"><i class="tf-upload2"
          aria-hidden="true"></i></button>
    </h2>
  </form>
  {% else %}
  <h2 class="post-title">[已發佈]&nbsp;{{ prop.title }}</h2>
  {% endif %}
  <div class="post-meta">
    <div style="display: -webkit-inline-box;">
      <ul>
        <li>
          <i class="tf-ion-ios-calendar"></i> 張貼時間： {{ prop.created_at_str }}
        </li>
        <li>
          <i class="tf-ion-android-person"></i> 張貼者： {{ prop.created_by.username }}
        </li>
      </ul>
    </div>
    {% if not prop.is_back %}
    <div style="display: -webkit-inline-box; float:right;">
      <div class="btn-group" role="group">
        <button title="檢視&修改提案" type="button" class="btn btn-default"><a
            href="{{ url_for('proposal.update', prop_id=prop.id) }}"><i class="tf-pencil2"
              aria-hidden="true"></i></a></button>
        <button title="刪除提案" type="button" data-toggle="modal" data-target="#Modal" class="btn btn-default"><i
            class="tf-ion-close" aria-hidden="true"></i></button>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4>你確定要刪除出隊提案？刪除後將無法復原喔！</h4>
          </div>
          <div class="modal-footer">
            <form action="{{ url_for('proposal.delete', prop_id=prop.id)}}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
              <button type="submit" class="btn btn-danger">確定刪除</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end Modal -->
    {% endif %}
    <br>
  </div>
  <div class="post-content">
    <p>
      時間：{{ prop.start_date_str }}&nbsp;～&nbsp;{{ prop.end_date_str }}
      &nbsp;&nbsp;&nbsp;&nbsp;
      領隊：{{ prop.leader.display_name }}&nbsp;&nbsp;&nbsp;&nbsp;嚮導：{{ prop.guide.display_name }}
    </p>
    <p>
      人員：
      {% for a in prop.attendees %}
      {{ a.display_name }},&nbsp;
      {% endfor %}
    </p>
    <p>預定行程：</p>
    {% for i in prop.itinerary_list %}
    {% if i.content %}
    <p>D{{ i.day_number}}: {{ i.content }}</p>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endfor %}
{% endblock %}
