{% extends "base.html" %}

{% macro render_field(field, width=6, placeholder="") %}
<div class="form-group col-md-{{ width }} col-sm-{{ width }} col-xs-12">
  <!-- <input type="email" class="form-control" placeholder="Email"> -->
  {{ field.label }}
  {% if field.errors %}
  {% for error in field.errors %}
  <span class="text-danger">{{ error }}</span>
  {% endfor %}
  {% endif %}
  <br>
  {% if placeholder %}
  {{ field(class_='form-control', placeholder=placeholder) }}
  {% else %}
  {{ field(class_='form-control') }}
  {% endif %}
</div>
{% endmacro %}

{% block content %}
<section class="signin-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="block text-center">
          <a class="logo" href="/">
            <img src={{ url_for("static", filename="images/logo.png") }} alt="">
          </a>
          <form class="text-left clearfix" action="" method="post">
            {% include 'alerts.html' %}
            <h4 class="text-center">隊伍提案資料</h4>
            <br>
            <p class="text-center">
              必填為：<b>隊伍名稱、上山日期、預計天數</b>，表格內容均可再更改
              <br>
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
              <label for="leader">領隊</label>
              <br>
              <input name="leader" type="text" class="awesomplete form-control" id="search-member1"
                placeholder="請輸入姓名" />
            </div>
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
              <label for="guide">嚮導</label>
              <br>
              <input name="guide" type="text" class="awesomplete form-control" id="search-member2"
                placeholder="請輸入姓名" />
            </div>
            <div class=" form-group col-md-3 col-sm-3 col-xs-12">
              <label for="members">成員搜尋</label>
              <br>
              <input id="search-member3" class="form-control search-member-list" type="text" name="members">
            </div>
            <div class=" form-group col-md-9 col-sm-9 col-xs-12">
              <label for="members">成員：</label>
              <br>
              <input id="attendees" class="form-control search-member-list" type="text" name="members">
            </div>

            {{ form.csrf_token }}
            {{ render_field(form.title, 6, "必填欄位") }}
            {{ render_field(form.start_date, 6, "必填欄位") }}
            {{ render_field(form.days, 6, "必填欄位") }}
            {{ render_field(form.buffer_days) }}
            {{ render_field(form.radio, 6, "例如：144.28/藍天藍") }}
            {{ render_field(form.satellite_telephone, 6, "例如：6號機、+882314657982") }}
            {{ render_field(form.gathering_point, 6, "例如：光口") }}
            {{ render_field(form.gathering_time, 6, "例如：2020/04/15 08:05") }}

            <div class=" text-center col-md-12">
              <br>
              <button type="submit" class="btn btn-main text-center">
                {% if update_itinerary %}
                下一步，編輯每日行程
                {% else %}
                送出
                {% endif %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block script %}
<script>
  $(document).ready(function () {

    // search for leader
    var leader = new Awesomplete(document.getElementById('search-member1'));
    $('#search-member1').on('keyup', function () {
      $.ajax({
        url: "{{ url_for('member.search') }}",
        method: 'GET',
        data: { 'keyword': this.value },
        dataType: 'json',
        error: function (errorData) {
          console.log(errorData);
        }
      })
        .done(function (data) {
          leader.list = data;
        });
    });
    // search for guide
    var guide = new Awesomplete(document.getElementById('search-member2'));
    $('#search-member2').on('keyup', function () {
      $.ajax({
        url: "{{ url_for('member.search') }}",
        method: 'GET',
        data: { 'keyword': this.value },
        dataType: 'json',
        error: function (errorData) {
          console.log(errorData);
        }
      })
        .done(function (data) {
          guide.list = data;
        });
    });
    // search for attendees
    var attendees1 = new Awesomplete(document.getElementById('search-member3'));
    var attendees2 = document.getElementById('attendees');
    $('#search-member3').on('keyup', function () {
      $.ajax({
        url: "{{ url_for('member.search') }}",
        method: 'GET',
        data: { 'keyword': this.value },
        dataType: 'json',
        error: function (errorData) {
          console.log(errorData);
        }
      })
        .done(function (data) {
          attendees1.list = data;
        });
    });
  })

</script>
{% endblock %}
