{% extends "base.html" %}

{% macro render_field(field, width=6, placeholder="") %}
<div class="form-group col-md-{{ width }} col-sm-{{ width }} col-xs-12">
  <!-- <input type="email" class="form-control" placeholder="Email"> -->
  {{ field.label }}
  <br>
  {% if placeholder %}
  {{ field(class_='form-control', placeholder=placeholder) }}
  {% else %}
  {{ field(class_='form-control') }}
  {% endif %}
  {% if field.errors %}
  {% for error in field.errors %}
  <span style="color: red; font-size: 10px;">{{ error }}</span>
  {% endfor %}
  {% endif %}
  <br>
</div>
{% endmacro %}

{% block content %}
<section class="signin-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="block text-center">
          <a class="logo" href="/">
            <img src={{ url_for("static", filename="images/logo.png") }} alt="">
          </a>
          <form class="text-left clearfix" action="" method="post">
            {% include 'alerts.html' %}
            <h4 class="text-center">隊伍提案資料</h4>
            <br>
            <p class="text-center">
              必填為：<b>隊伍名稱、上山日期、預計天數、領隊</b>，表格內容均可再更改
              <br>
              {{ form.csrf_token }}
              {{ render_field(form.title, 10, "必填欄位") }}
              {{ render_field(form.event_type, 2) }}
              {{ render_field(form.start_date, 6, "必填欄位") }}
              {{ render_field(form.days, 3, "必填欄位") }}
              {{ render_field(form.buffer_days, 3) }}
            <div class="form-group col-md-4 col-sm-4 col-xs-12">
              <label for="leader">領隊</label>
              <br>
              <input name="leader" type="text" class="searchMember form-control" value="{{ leader }}"
                placeholder="必填欄位，請輸入姓名" />
              {% if form.leader.errors %}<span
                style="color: red; font-size: 10px;">{{ form.leader.errors[0] }}</span>{% endif %}
              <br>
            </div>
            <div class="form-group col-md-4 col-sm-4 col-xs-12">
              <label for="guide">嚮導</label>
              <br>
              <input name="guide" type="text" class="searchMember form-control" value="{{ guide }}"
                placeholder="請輸入姓名" />
              {% if form.guide.errors %}<span
                style="color: red; font-size: 10px;">{{ form.guide.errors[0] }}</span>{% endif %}
              <br>
            </div>
            {{ render_field(form.supporter, 4) }}
            <div class=" form-group col-md-12 col-sm-12 col-xs-12">
              <label for="attendees">成員</label>
              <br>
              <input id="attendees" class="searchMultiMember form-control" type="text" name="attendees"
                value="{{ attendees }}">
              <br>
            </div>
            {{ render_field(form.radio, 6, "例如：144.28/藍天藍") }}
            {{ render_field(form.satellite_telephone, 6, "例如：6號機、+882314657982") }}
            {{ render_field(form.gathering_point, 6, "例如：光口") }}
            {{ render_field(form.gathering_time, 6, "例如：2020/04/15 08:05") }}
            <div class=" text-center col-md-12">
              <br>
              <button type="submit" class="btn btn-main text-center">
                {% if update_itinerary %}
                下一步，編輯每日行程
                {% else %}
                送出
                {% endif %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script>

  $(function () {
    $(".searchMember").on("focus", function () {
      $(this).autocomplete({
        source: function (request, response) {
          $.ajax({
            url: "{{ url_for('member.search') }}",
            dataType: "json",
            data: {
              keyword: request.term      //回傳的參數
            },
            success: function (data) {
              response(data);
            }
          });
        },
        minLength: 1
      });
    });
  });

  $(function () {

    function split(val) {
      return val.split(/,\s*/);
    }
    function extractLast(term) {
      return split(term).pop();
    }

    $(".searchMultiMember")
      .autocomplete({
        minLength: 0,
        source: function (request, response) {
          $.ajax({
            url: "{{ url_for('member.search') }}",
            dataType: "json",
            data: {
              keyword: extractLast(request.term)
            },
            success: function (data) {
              response(data);
            }
          });
        },
        focus: function () {
          return false;
        },
        select: function (event, ui) {
          var terms = split(this.value);
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push(ui.item.value);
          // add placeholder to get the comma-and-space at the end
          terms.push("");
          uniq = [...new Set(terms)];
          this.value = uniq.join(", ");
          return false;
        }
      });
  });

</script>
{% endblock %}
