{% extends "event_home.html" %}
{% block page_name %}
企劃書總覽
{% endblock%}
{% block sub_content %}
{% for prop in proposals %}

<div class="post">
  {% if not prop.event %}
  <h2 class="post-title">
    <a href="{{ url_for('proposal.detail', prop_id=prop.id) }}">{{ prop.title }}&nbsp;&nbsp;</a>
  </h2>
  {% else %}
  <h2 class="post-title">
    <a href="{{ url_for('proposal.detail', prop_id=prop.id) }}">[已發佈]&nbsp;{{ prop.title }}&nbsp;&nbsp;</a>
    <a href="{{ url_for('event.detail', event_id=prop.event.id) }}" title="查看出隊文" type="button"
      class="btn btn-default btn-round-full"><i class="tf-ion-eye"></i></a>
  </h2>
  {% endif %}
  <div class="post-meta">
    <ul>
      <li>
        <i class="tf-ion-ios-calendar"></i> 建立時間： {{ prop.created_at_str }}
      </li>
      <li>
        <i class="tf-ion-android-person"></i> 建立者： {{ prop.created_by.username }}
      </li>
      {% if prop.updated_at %}
      <li>
        <i class="tf-ion-edit"></i> 最後修改： {{ prop.updated_at_str }}
      </li>
      {% endif %}
    </ul>
  </div>

  <div class="post-content">
    <div>
      <p>
        時間：{{ prop.start_date_str }}&nbsp;～&nbsp;{{ prop.end_date_str }}
        &nbsp;&nbsp;&nbsp;&nbsp;
        領隊：{{ prop.leader.display_name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;嚮導：{{ prop.guide.display_name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        天數：{{ prop.days }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;留守：{{ prop.supporter }}
      </p>
      <p>
        人員：
        {% for a in prop.attendees %}
        {{ a.attendee_display }},&nbsp;
        {% endfor %}
      </p>
    </div>
    <p>
      <a class="btn btn-default btn-round-full" data-toggle="collapse" href="#{{ prop.id }}" aria-expanded="false"
        aria-controls="collapseExample">
        預定行程...&nbsp;<i class="tf-ion-chevron-down"></i>
      </a>
    </p>
    <div class="collapse" id="{{ prop.id }}">
      <div class="card card-body">
        {% for i in prop.itinerary_list %}
        D{{ i.day_number}}: {{ i.content }}<br>
        {% endfor %}
        <br>
        <p style="white-space: pre-wrap;">撤退路線：<br>{{ prop.return_plan }}</p><br>
        預備天：{{ prop.buffer_days }}天&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
      </div>
    </div>
  </div>
</div>
</a>
{% endfor %}
{% endblock %}
