{% extends "event_home.html" %}
{% block page_name %}
出隊文
{% endblock%}
{% block sub_content %}
{% for prop in proposals %}
<div class="post">
  {% if prop.start_date < now %}
  <h2 class="post-title">
    [進行中]&nbsp;{{ prop.title }}&nbsp;&nbsp;
    {% if current_user.is_authenticated %}
    <a type="button" href="{{ url_for('event.create', prop_id=prop.id) }}" title="回報下山"
      class="btn btn-default btn-round-full"><i class="tf-megaphone"></i>&nbsp;&nbsp;下山囉</a>
    {% endif %}
  </h2>
  {% else %}
  <h2 class="post-title">{{ prop.title }}</h2>
  {% endif %}
  <div class="post-meta">
    <ul>
      <li>
        <i class="tf-ion-ios-calendar"></i> 張貼時間： {{ prop.created_at_str }}
      </li>
      <li>
        <i class="tf-ion-android-person"></i> 張貼者： {{ prop.created_by.username }}
      </li>
    </ul>
  </div>
  <div class="post-content">
    <div>
      <p>
        時間：{{ prop.start_date_str }}&nbsp;～&nbsp;{{ prop.end_date_str }}
        &nbsp;&nbsp;&nbsp;&nbsp;
        領隊：{{ prop.leader.display_name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;嚮導：{{ prop.guide.display_name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        天數：{{ prop.days }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;留守：{{ prop.supporter }}
      </p>
      <p>
        人員：
        {% for a in prop.attendees %}
        {{ a.display_name }},&nbsp;
        {% endfor %}
      </p>
    </div>
    <p>
      <a class="btn btn-default btn-round-full" data-toggle="collapse" href="#{{ prop.id }}" aria-expanded="false"
        aria-controls="collapseExample">
        展開詳細資訊&nbsp;<i class="tf-ion-chevron-down"></i>
      </a>
    </p>
    <div class="collapse" id="{{ prop.id }}">
      <div class="card card-body">
        總人數：{{ prop.total_members }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        幹/隊/新：{{ prop.struct_ratio }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        男女比：{{ prop.gender_ratio }}<br>
        <br>
        預定行程：<br>
        {% for i in prop.itinerary_list %}
        {% if i.content %}
        D{{ i.day_number}}: {{ i.content }}<br>
        {% endif %}
        {% endfor %}
        <br>
        撤退路線：{{ prop.return_plan }}<br><br>
        預備天：{{ prop.buffer_days }}天&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        交通方式：{{ prop.approach_way }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        無線電頻率/台號：{{ prop.radio }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
        衛星電話：{{ prop.satellite_telephone }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        出發時間：{{ prop.gathering_time_str }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        集合地點：{% if prop.gathering_point %}{{ prop.gathering_point }}, 歡迎送行。{% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
