{% extends "base.html" %}
{% block top %}{% include "top.html" %}{% endblock %}
{% block menu %}{% include "menu.html" %}{% endblock %}

{% block content %}
<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1 class="page-name">{% if user.id == current_user.id %}我
            {% else %}{{ user.username }}{% endif %}的頁面
          </h1>
          <ol class="breadcrumb">
            <li><a href="{{ url_for('user.detail', user_id=current_user.id) }}">個人頁面</a></li>
            <li class="active">帳號資料檢視</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        {% if not current_user.is_authenticated %}
        <p>您無權瀏覽此頁面</p>
        {% endif %}
        {% include 'alerts.html' %}
        <div class="tabCommon mt-20">
          <ul class="nav nav-tabs justify-content-center list-inline dashboard-menu">
            <li class=""><a data-toggle="tab" href="#basic" aria-expanded="false">基本資料</a></li>
            {% if current_user.id == user.id %}
            <li class=""><a data-toggle="tab" href="#advanced" aria-expanded="false">進階資料</a></li>
            <li class=""><a data-toggle="tab" href="#member" aria-expanded="false">出隊用資料</a></li>
            {% endif %}
            <li class="active"><a data-toggle="tab" href="#experience" aria-expanded="true">隊伍經歷</a></li>
          </ul>
          <br>
          <div class="tab-content">
            <div id="basic" class="tab-pane fade dashboard-user-profile dashboard-wrapper">
              <div class="media">
                <div class="pull-left text-center" href="#">
                  <img class="media-object user-img"
                    src="{{ user.profile_img or url_for('static', filename='images/avater.jpg') }}" alt="Image">
                  <a href="#x" class="btn btn-transparent mt-20">Change Image<br>(這張只是放好看的)</a>
                </div>
                <div class="media-body">
                  <ul class="user-profile-list">
                    {% if user.id == current_user.id %}
                    <div style="display: -webkit-inline-box; float:right;">
                      <a href="{{ url_for('user.update') }}" type="button"
                        class="btn btn-default btn-sm">編輯個人資料</a>&nbsp;&nbsp;&nbsp;
                    </div>
                    {% endif %}
                    <li><span>綽號：</span>{{ user.username }}</li>
                    <li><span>註冊信箱：</span>{{ user.email }}</li>
                    <li><span>系級：</span>{{ user.department or "" }}{{ user.graduation_year or "" }}</li>
                    {% if user.group %}<li><span>嚮導隊：</span>{{ user.get_group_display() }}</li>{% endif %}
                    <li><span>在校狀態：</span>{{ user.get_identity_display() }}</li>
                    {% if user.position %}
                    <li><span>工作組：</span>{{ user.get_position_display() }}</li>{% endif %}
                    {% if user.level %}<li><span>級數：</span>{{ user.get_level_display() }}</li>{% endif %}
                    <br>
                    <div>
                      <p style="white-space: pre-wrap;">{{ user.introduction or "" }}</p><br>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
            {% if current_user.id == user.id %}
            <div id="advanced" class="tab-pane fade dashboard-user-profile dashboard-wrapper">
              <div class="media">
                <div class="media-body">
                  <ul class="user-profile-list">
                    <div style="display: -webkit-inline-box; float:right;">
                      <a href="{{ url_for('user.update') }}" type="button"
                        class="btn btn-default btn-sm">編輯個人資料</a>&nbsp;&nbsp;&nbsp;
                    </div>
                    <p class="text-center">此區為隱藏資料，僅所有者可見</p>
                    <hr>
                    <div class="col-sm-6 col-xs-6">
                      <p>進階資料</p>
                      <li><span>姓名：</span>{{ user.name or "" }}</li>
                      <li><span>生日：</span>{{ user.birthday_str }}</li>
                      <li><span>手機：</span>{{ user.cellphone_number or "" }}</li>
                      <li><span>登入方式：</span>{{ user.social_login_with or "山協網站" }}</li>
                      <li><span>最近登入：</span>{{ user.last_login_at_str }}</li>
                      <br>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                      <p>註冊資料</p>
                      <li><span>註冊時間：</span>{{ user.created_at_str }}</li>
                      <li><span>註冊邀請人：</span>{{ invited_by }}</li>
                      <li><span>加入信箱：</span>{{ user.invitation_info.email }}</li>
                      <li><span>最後修改：</span>{{ user.updated_at_str }}</li>
                      <br>
                    </div>
                  </ul>
                  <br>
                </div>
              </div>
            </div>
            <div id="member" class="tab-pane fade dashboard-user-profile dashboard-wrapper">
              <div class="media">
                <div class="media-body">
                  {% if not user.member_id %}
                  <span>尚未連結站內出隊用資料，是否<a style="color: blue;" data-toggle="modal" href=""
                      data-target="#ModalMemberConnection">查詢並匯入</a>？
                    或是<a href="{{ url_for('user.create_member') }}" style="color: blue;" href="">新增出隊用資料</a>。

                    <!-- Modal -->
                    <div class="modal fade" id="ModalMemberConnection" tabindex="-1" role="dialog"
                      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <form action="{{ url_for('user.connect_member') }}" method="POST">
                            <div class="modal-body">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              <h3 class="text-center">查詢與匯入出隊用資料</h3>
                              <p class="text-center">請填寫身份證字號與手機號碼</p>
                              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                              <div class="col-md-12">
                                <br><br>
                                <div class="form-group">
                                  <input required type="text" class="form-control" name="security_number"
                                    placeholder="身份證字號：首字母大寫，共10碼">
                                  <br>
                                  <input required type="text" class="form-control" name="cellphone_number""
                                    placeholder=" 手機號碼：09開頭數字共10碼">
                                </div>
                                <br>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                              <button type="submit" class="btn btn-primary">送出</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <!-- end modal -->
                  </span>
                  {% else %}
                  <ul class="user-profile-list">
                    <div style="display: -webkit-inline-box; float:right;">
                      <a href="{{ url_for('member.update', member_id=user.member_id) }}" type="button"
                        class="btn btn-default btn-sm">編輯我的出隊用資料</a>&nbsp;&nbsp;&nbsp;
                    </div>
                    <p class="text-center">此區資料與個人資料並未連動，若以下資訊有誤請修改</p>
                    <div class="col-sm-4 col-xs-6">
                      <hr>
                      <p>基本資料</p>
                      <li><span>姓名：</span>{{ member.name }}</li>
                      <li><span>網站顯示名稱：</span>{{ member.nickname }}</li>
                      <li><span>身份證字號：</span>{{ member.security_number }}</li>
                      <li><span>生日：</span>{{ member.birthday_str }}</li>
                      <li><span>手機：</span>{{ member.cellphone_number }}</li>
                      <hr>
                      <p>系統資料</p>
                      <li><span>建立者：</span>{{ member.created_by.username }}</li>
                      <li><span>建立時間：</span>{{ member.created_at_str }}</li>
                      <li><span>最後修改：</span>{{ member.updated_at_str }}</li>
                      <li><span>最後修改人：</span>{{ member.updated_by.username }}</li>
                      <br>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                      <hr>
                      <p>學校資料</p>
                      <li><span>學號：</span>{{ member.student_id or "(校外或OB不用填寫)" }}</li>
                      <li><span>系所與年級：</span>{{ member.department_and_grade }}</li>
                      <br>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                      <hr>
                      <p>山協資料</p>
                      <li><span>等級：</span>{{ member.get_level_display() }}</li>
                      <li><span>嚮導隊：</span>{{ member.get_group_display() }}</li>
                      <li><span>最高資歷路線：</span>{{ member.highest_difficulty_experience or "" }}</li>
                      <li><span>最高資歷難度：</span>{{ member.get_highest_difficulty_display() }}</li>
                      <br>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                      <hr>
                      <p>醫藥相關</p>
                      <li><span>藥物過敏：</span>{{ member.drug_allergy }}</li>
                      <li><span>血型：</span>{{ member.blood_type }}</li>
                      <br>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                      <hr>
                      <p>緊急聯絡人</p>
                      <li><span>聯絡人姓名：</span>{{ member.emergency_contact }}</li>
                      <li><span>聯絡人關係：</span>{{ member.emergency_contact_relationship }}</li>
                      <li><span>聯絡人電話：</span>{{ member.emergency_contact_phone }}</li>
                      <br>
                    </div>
                  </ul>
                  <div class="text-center col-md-12">
                    <br>
                    <a href="{{ url_for('event.member_history', member_id=member.id) }}" type="button"
                      class="btn btn-main btn-small text-center">查看此資料之出隊歷史</a><br><br>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endif %}
            <div id="experience" class="tab-pane fade active in dashboard-user-profile dashboard-wrapper">
              <div class="media">
                <div class="media-body">
                  <div class="table-responsive">
                    <br>
                    <h4 class="text-center">出隊紀錄</h4>
                    <p class="text-center">與站內出隊文資料並未直接連動，可自行新增與修改</p><br>
                    <form id="historyForm" action="">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th class=""></th>
                            <th style="width: 220px;">日期</th>
                            <th class="">天數</th>
                            <th class="">名稱</th>
                            <th class="">類型</th>
                            <th class="">級數</th>
                            <th class="">超連結</th>
                            <th class="col-md-1 col-sm-1"></th>
                          </tr>
                        </thead>
                        <tbody id="tbody">
                          {% for h in history %}
                          <tr id="{{ h.id }}" class="jqcontrol">
                            <td class="order">{{ h.order }}</td>
                            <td class="date">{{ h.start_date_str }}~{{ h.end_date_str }}</td>
                            <td class="days">{{ h.days }}</td>
                            <td class="title">{{ h.title }}</td>
                            <td class="event_type">{{ h.event_type or "" }}</td>
                            <td class="difficulty">{{ h.difficulty }}</td>
                            <td class="link">
                              {% if h.link %}<a type="button" class="btn btn-default btn-round-full" href="{{ h.link }}"
                                target="_blank"><i class="tf-attachment"></i></a>{% endif %}
                            </td>
                            <td>
                              <div class="btn-group" role="group">
                                <button data-hid="{{ h.id }}" type="button" class="btn btn-default edit-button"><i
                                    class="tf-pencil2" aria-hidden="true"></i></button>
                                <button data-hid="{{ h.id }}" type="button" class="btn btn-default delete-button"><i
                                    class="tf-ion-close" aria-hidden="true"></i></button>
                              </div>
                            </td>
                          </tr>
                          {% endfor %}
                          <tr class="collapse" id="addHistory">
                            <td class="order">
                              <input id="add_order" style="width: 40px;" class="form-control">
                              <span id="errAdd_order" style="color: red; font-size: 10px;"></span></td>
                            <td class="date">
                              <div class="form-inline">
                                <input id="add_start_date" style="width: 95px;" class="form-control">~
                                <input id="add_end_date" style="width: 95px;" class="form-control">
                              </div>
                              <span id="errAdd_start_date" style="color: red; font-size: 10px; width: 95px"></span>
                              <span id="errAdd_end_date" style="color: red; font-size: 10px; width: 95px"></span>
                            </td>
                            <td class="days"><input id="add_days" style="width: 40px;" class="form-control"><span
                                id="errAdd_days" style="color: red; font-size: 10px;"></span></td>
                            <td class="title"><input id="add_title" class="form-control"><span id="errAdd_title"
                                style="color: red; font-size: 10px;"></span></td>
                            <td class="event_type"><input id="add_event_type" style="width: 60px;"
                                class="form-control"><span id="errAdd_event_type"
                                style="color: red; font-size: 10px;"></span></td>
                            <td class="difficulty"></td>
                            <td class="link"><input id="add_link" style="width: 100px;" class="form-control"><span
                                id="errAdd_link" style="color: red; font-size: 10px;"></span></td>
                            <td>
                              <div class="btn-group" role="group">
                                <button style="width: 40px;" id="addHistoryBtn" type="button"
                                  class="btn btn btn-default"><i class="tf-ion-checkmark-round"></i></button>
                                <button id="addCancelBtn" type="button" class="btn btn-default"><i
                                    class="tf-ion-minus-round" aria-hidden="true"></i></button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </form>
                    <!-- collapse -->
                    <div class="text-center">
                      <a type="button" class="btn btn-default btn-round-full" data-toggle="collapse" href="#addHistory"
                        aria-expanded="false" aria-controls="collapseExample"><i class="tf-ion-android-add"></i> 新增</a>
                      <br><br>
                    </div>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block footer %}{% include "footer.html" %}{% endblock %}
{% block script %}
<script>
  $(function () {

    const userId = "{{ user.id }}"
    const currentUserId = "{{ current_user.id }}"

    function authorizeChecking() {
      if (userId != currentUserId) {
        alert("您無權進行此操作")
        return false
      }
      return true
    }

    function rePopulateTbody(objs) {
      if ($(".editInputs")) {
        $(".editInputs").remove()
      }
      var createTr = $("#addHistory");
      $("tr").remove(".jqcontrol");
      for (let i = 0; i < objs.length; i++) {
        const element = objs[i];
        var objContent = `
              <tr id="${element.id}" class="jqcontrol">
                <td class="order">${element.order}</td>
                <td class="date">${element.date_str}</td>
                <td class="days">${element.days}</td>
                <td class="title">${element.title}</td>
                <td class="event_type">${element.event_type}</td>
                <td class="difficulty">${element.difficulty}</td>
                <td class="link">${element.link}</td>
                <td>
                  <div class="btn-group" role="group">
                    <button data-hid="${element.id}" type="button" class="btn btn-default edit-button"><i
                        class="tf-pencil2" aria-hidden="true"></i></button>
                    <button data-hid="${element.id}" type="button" class="btn btn-default delete-button"><i
                        class="tf-ion-close" aria-hidden="true"></i></button>
                  </div>
                </td>
              </tr>
            `;
        createTr.before(objContent);
      }
    }
    // remove add my history form
    $("tbody").on("click", "#addCancelBtn", function () {
      $("#addHistory").removeClass("in");
    })

    // render updating-myhistory input fields and button
    $("tbody").on("click", ".edit-button", function () {
      if (!authorizeChecking()) {
        return null
      }
      var hid = $(this).data().hid
      var tr = $("#" + hid)
      var dates = tr.children(".date")[0].innerText.split('~')
      oriData = {
        'order': tr.children(".order")[0].innerText,
        'start_date': dates[0],
        'end_date': dates[1],
        'days': tr.children(".days")[0].innerText,
        'title': tr.children(".title")[0].innerText,
        'event_type': tr.children(".event_type")[0].innerText,
        'difficulty': tr.children(".difficulty")[0].innerText,
        'link': tr.children(".link")[0].innerText
      }
      tr.before(`
        <tr id="edit${hid}" class="editInputs">
          <td class="order">
            <input value="${oriData.order}" id="${hid}_edit_order" style="width: 40px;" class="form-control">
            <span id="${hid}_errEdit_order" style="color: red; font-size: 10px;"></span></td>
          <td class="date">
            <div class="form-inline">
              <input value="${oriData.start_date}" id="${hid}_edit_start_date" style="width: 95px;" class="form-control">~
              <input value="${oriData.end_date}" id="${hid}_edit_end_date" style="width: 95px;" class="form-control">
            </div>
            <span id="${hid}_errEdit_start_date"
              style="color: red; font-size: 10px; width: 95px"></span>
            <span id="${hid}_errEdit_end_date" style="color: red; font-size: 10px; width: 95px"></span>
          </td>
          <td class="days"><input value="${oriData.days}" id="${hid}_edit_days" style="width: 40px;" class="form-control"><span
              id="${hid}_errEdit_days" style="color: red; font-size: 10px;"></span></td>
          <td class="title"><input value="${oriData.title}" id="${hid}_edit_title" class="form-control"><span id="${hid}_errEdit_title"
              style="color: red; font-size: 10px;"></span></td>
          <td class="event_type"><input value="${oriData.event_type}" id="${hid}_edit_event_type" style="width: 60px;" class="form-control"><span
              id="${hid}_errEdit_event_type" style="color: red; font-size: 10px;"></span></td>
          <td class="difficulty">${oriData.difficulty}</td>
          <td class="link"><input value="${oriData.link}" id="${hid}_edit_link" style="width: 100px;" class="form-control"><span
              id="errEdit_link" style="color: red; font-size: 10px;"></span></td>
          <td>
            <div class="btn-group" role="group">
              <button style="width: 40px;" data-hid="${hid}" type="button"
                class="editHistoryBtn btn btn btn-default"><i class="tf-ion-checkmark-round"></i></button>
              <button type="button" data-hid="${hid}" class="editCancelBtn btn btn-default"><i
                  class="tf-ion-minus-round" aria-hidden="true"></i></button>
            </div>
          </td>
        </tr> `
      )
      tr.remove();
    })
    // cancel edit history input fields, refresh data from server
    $("tbody").on("click", ".editCancelBtn", function () {
      var hid = $(this).data().hid
      var thisTr = $("#edit" + hid)

      $.ajax({
        url: "{{ url_for('user.get_my_history') }}",
        method: 'GET',
        data: { 'my_history_id': hid },
        success: function (data) {
          oriData = data.objs[0]
          thisTr.before(`
            <tr id="${hid}" class="jqcontrol">
              <td class="order">${oriData.order}</td>
              <td class="date">${oriData.date_str}</td>
              <td class="days">${oriData.days}</td>
              <td class="title">${oriData.title}</td>
              <td class="event_type">${oriData.event_type}</td>
              <td class="difficulty">${oriData.difficulty}</td>
              <td class="link">${oriData.link}</td>
              <td>
                <div class="btn-group" role="group">
                  <button data-hid="${hid}" type="button" class="btn btn-default edit-button"><i
                      class="tf-pencil2" aria-hidden="true"></i></button>
                  <button data-hid="${hid}" type="button" class="btn btn-default delete-button"><i
                      class="tf-ion-close" aria-hidden="true"></i></button>
                </div>
              </td>
            </tr>
          `)
          thisTr.remove()
        },
      })
    })

    // delete my history
    $("tbody").on("click", ".delete-button", function () {

      if (!authorizeChecking()) {
        return null
      }
      if (!confirm("確定要刪除此項目？")) {
        return null
      }
      $.ajax({
        url: "{{ url_for('user.delete_my_history') }}",
        method: 'POST',
        data: {
          'user_id': userId,
          'my_history_id': $(this).data().hid
        },
        success: function (data) {
          rePopulateTbody(data.objs)
        },
      })
    })

    // udpate my history
    $("tbody").on("click", ".editHistoryBtn", function () {
      if (userId != currentUserId) {
        return alert("您無權進行此操作")
      }
      console.log(123)

      var hid = $(this).data().hid
      // clean all err msg
      const inputField = ["order", "start_date", "end_date", "days", "title", "event_type", "link"]
      for (let i = 0; i < inputField.length; i++) {
        $("#" + hid + "_errEdit_" + inputField[i]).text("");
      }

      var inputData = {
        "order": $("#" + hid + "_edit_order").val(),
        "start_date": $("#" + hid + "_edit_start_date").val(),
        "end_date": $("#" + hid + "_edit_end_date").val(),
        "days": $("#" + hid + "_edit_days").val(),
        "title": $("#" + hid + "_edit_title").val()
      }

      // handle required fields
      var nullFields = new Array()

      Object.keys(inputData).forEach(
        (key) => (!inputData[key]) && nullFields.push(key)
      );
      if (nullFields.length > 0) {
        for (let i = 0; i < nullFields.length; i++) {
          $("#" + hid + "_errEdit_" + nullFields[i]).text("此欄位不可空白 ");
        }
        return null;
      }

      inputData.event_type = $("#" + hid + "_edit_event_type").val();
      inputData.link = $("#" + hid + "_edit_link").val()
      inputData.my_history_id = hid;

      $.ajax({
        url: "{{ url_for('user.update_my_history') }}",
        method: 'POST',
        data: inputData,
        success: function (data) {
          if (data.errors) {
            var errors = data.errors;
            console.log(errors);
            Object.keys(errors).forEach(
              (key) => $("#" + hid + "_errEdit_" + key).text(errors[key])
            );
            return null
          }
          $("#edit" + hid).remove()
          rePopulateTbody(data.objs);
        },
      })
    });

    // create my history
    $("tbody").on("click", "#addHistoryBtn", function () {
      if (userId != currentUserId) {
        return alert("您無權進行此操作")
      }

      // clean all err msg
      const inputField = ["order", "start_date", "end_date", "days", "title", "event_type", "link"]
      for (let i = 0; i < inputField.length; i++) {
        $("#errAdd_" + inputField[i]).text("");
      }

      var inputData = {
        "order": $("#add_order").val(),
        "start_date": $("#add_start_date").val(),
        "end_date": $("#add_end_date").val(),
        "days": $("#add_days").val(),
        "title": $("#add_title").val()
      }

      // handle required fields
      var nullFields = new Array()

      Object.keys(inputData).forEach(
        (key) => (!inputData[key]) && nullFields.push(key)
      );
      if (nullFields.length > 0) {
        for (let i = 0; i < nullFields.length; i++) {
          $("#errAdd_" + nullFields[i]).text("此欄位不可空白 ");
        }
        return null;
      }

      inputData.event_type = $("#add_event_type").val();
      inputData.link = $("#add_link").val();
      inputData.user_id = userId;

      $.ajax({
        url: "{{ url_for('user.create_my_history') }}",
        method: 'POST',
        data: inputData,
        success: function (data) {
          if (data.errors) {
            var errors = data.errors;
            console.log(errors);
            Object.keys(errors).forEach(
              (key) => $("#errAdd_" + key).text(errors[key])
            );
            return null
          }
          // clear original input 
          for (let i = 0; i < inputField.length; i++) {
            $("#add_" + inputField[i]).val("");
          }
          var createTr = $("#addHistory");
          createTr.removeClass("in");
          rePopulateTbody(data.objs);
        },
      })
    });
  });
</script>
{% endblock %}
