{% extends "base.html" %}
{% block top %}{% include "top.html" %}{% endblock %}
{% block menu %}{% include "menu.html" %}{% endblock %}

{% block content %}

<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1 class="page-name">個人頁面</h1>
          <ol class="breadcrumb">
            <li><a href="{{ url_for('user.detail', user_id=current_user.id) }}">個人頁面</a></li>
            <li class="active">帳號資料檢視</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        {% if not current_user.is_authenticated %}
        <p>您無權瀏覽此頁面</p>
        {% else %}
        {% include 'alerts.html' %}
        <div class="tabCommon mt-20">
          <ul class="nav nav-tabs justify-content-center list-inline dashboard-menu">
            <li class="active"><a data-toggle="tab" href="#basic" aria-expanded="true">基本資料</a></li>
            {% if current_user.id == user.id %}
            <li class=""><a data-toggle="tab" href="#advanced" aria-expanded="true">進階資料</a></li>
            <li class=""><a data-toggle="tab" href="#member" aria-expanded="false">出隊用資料</a></li>
            {% endif %}
            <li class=""><a data-toggle="tab" href="#experience" aria-expanded="false">隊伍經歷</a></li>
          </ul>
          <br>
          <div class="tab-content">
            <div id="basic" class="tab-pane fade active in dashboard-user-profile dashboard-wrapper">
              <div class="media">
                <div class="pull-left text-center" href="#">
                  <img class="media-object user-img"
                    src="{{ user.profile_img or url_for('static', filename='images/avater.jpg') }}" alt="Image">
                  <a href="#x" class="btn btn-transparent mt-20">Change Image<br>(這張只是放好看的)</a>
                </div>
                <div class="media-body">
                  <ul class="user-profile-list">
                    {% if user.id == current_user.id %}
                    <div style="display: -webkit-inline-box; float:right;">
                      <a href="{{ url_for('user.update') }}" type="button"
                        class="btn btn-default btn-sm">編輯基本資料</a>&nbsp;&nbsp;&nbsp;
                    </div>
                    {% endif %}
                    <li><span>綽號：</span>{{ user.username }}</li>
                    <li><span>信箱：</span>{{ user.email }}</li>
                    <li><span>系級：</span>{{ user.department or "" }}{{ user.graduation_year or "" }}</li>
                    {% if user.group %}<li><span>嚮導隊：</span>{{ user.get_group_display() }}</li>{% endif %}
                    <li><span>狀態：</span>{{ user.get_identity_display() }}</li>
                    {% if user.position %}
                    <li><span>工作組：</span>{{ user.get_position_display() }}</li>{% endif %}
                    {% if user.level %}<li><span>級數：</span>{{ user.get_level_display() }}</li>{% endif %}
                    <br>
                    <!-- <div>
                      {% if user.id == current_user.id %}
                      <div style="display: -webkit-inline-box; float:right;">
                        <button class="btn btn-default btn-sm">編輯自我介紹</button>&nbsp;&nbsp;&nbsp;
                      </div>
                      {% endif %}
                      <p style="white-space: pre-wrap;">{{ user.introduction or "" }}</p><br>
                    </div> -->
                  </ul>
                </div>
              </div>
            </div>
            <div id="advanced" class="tab-pane fade dashboard-user-profile dashboard-wrapper">
              <div class="media">
                <div class="media-body">
                  {% if current_user.id == user.id %}
                  <ul class="user-profile-list">
                    <div style="display: -webkit-inline-box; float:right;">
                      <a href="{{ url_for('user.update') }}" type="button"
                        class="btn btn-default btn-sm">編輯進階資料</a>&nbsp;&nbsp;&nbsp;
                    </div>
                    <p class="text-center" style="font-size: 18px;">隱藏資料</p>
                    <li><span>姓名：</span>{{ user.name or "" }}</li>
                    <li><span>生日：</span>{{ user.birthday_str }}</li>
                    <li><span>手機：</span>{{ user.cellphone_number or "" }}</li>
                    <li><span>登入方式：</span>{{ user.social_login_with or "山協網站" }}</li>
                    <li><span>註冊時間：</span>{{ user.created_at_str }}</li>
                    <li><span>註冊邀請人：</span>{{ invited_by }}</li>
                  </ul>
                  {% endif %}
                  <br>
                </div>
              </div>
            </div>
            <div id="experience" class="tab-pane fade dashboard-user-profile dashboard-wrapper">
              <div class="media">
                <div class="media-body">
                  <div class="table-responsive">
                    <p>這只是個示意圖，詳細功能即將上線～</p>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th>日期</th>
                          <th>天數</th>
                          <th>名稱</th>
                          <th>類型</th>
                          <th>級數</th>
                          <th class="col-md-2 col-sm-3">外部連結</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>2020/3/9~2020/3/24</td>
                          <td>15</td>
                          <td>泡個丹大東稜伊巴厚</td>
                          <td>探勘</td>
                          <td>A</td>
                          <td><a type="button" class="btn btn-default btn-round-full"
                              href="https://www.ptt.cc/bbs/sttmountain/M.1585704435.A.3AF.html" target="_blank"><i
                                class="tf-attachment"></i></a>
                          </td>
                          <td>
                            <div class="btn-group" role="group">
                              <button type="button" class="btn btn-default"><i class="tf-pencil2"
                                  aria-hidden="true"></i></button>
                              <button type="button" class="btn btn-default"><i class="tf-ion-close"
                                  aria-hidden="true"></i></button>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>2020/3/27~2020/4/7</td>
                          <td>11</td>
                          <td>西內本鹿</td>
                          <td>探勘</td>
                          <td>A</td>
                          <td><a type="button" class="btn btn-default btn-round-full"
                              href="https://www.ptt.cc/bbs/sttmountain/M.1585704435.A.3AF.html" target="_blank"><i
                                class="tf-attachment"></i></a>
                          </td>
                          <td>
                            <div class="btn-group" role="group">
                              <button type="button" class="btn btn-default"><i class="tf-pencil2"
                                  aria-hidden="true"></i></button>
                              <button type="button" class="btn btn-default"><i class="tf-ion-close"
                                  aria-hidden="true"></i></button>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>2020/1/1~2020/1/5</td>
                          <td>5</td>
                          <td>金崙溪嘔吐隊</td>
                          <td>逸樂</td>
                          <td>C</td>
                          <td><a type="button" class="btn btn-default btn-round-full"
                              href="https://www.ptt.cc/bbs/sttmountain/M.1585704435.A.3AF.html" target="_blank"><i
                                class="tf-attachment"></i></a>
                          </td>
                          <td>
                            <div class="btn-group" role="group">
                              <button type="button" class="btn btn-default"><i class="tf-pencil2"
                                  aria-hidden="true"></i></button>
                              <button type="button" class="btn btn-default"><i class="tf-ion-close"
                                  aria-hidden="true"></i></button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div id="member" class="tab-pane fade dashboard-user-profile dashboard-wrapper">
              <div class="media">
                <div class="media-body">
                  {% if not user.member_id %}
                  <span>尚未連結站內出隊用資料，是否<a style="color: blue;" href="">查詢並匯入</a>？
                    或是<a href="{{ url_for('user.create_member') }}" style="color: blue;" href="">新增出隊用資料</a>。
                  </span>
                  {% else %}
                  <div style="display: -webkit-inline-box; float:right;">
                    <a href="{{ url_for('member.update', member_id=user.member_id) }}" type="button"
                      class="btn btn-default btn-sm">編輯我的出隊用資料</a>&nbsp;&nbsp;&nbsp;
                  </div>
                  {{ member }}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block footer %}{% include "footer.html" %}{% endblock %}
