{% extends "users/user_posts_home.html" %}
{% block page_name %}
我的出隊文
{% endblock%}
{% block sub_content %}
{% if not events %}您尚未發佈任何出隊文{% endif %}
{% for event in events %}
<div class="post">
  {% set prop = event.proposal %}
  <a href="{{ url_for('event.detail', event_id=event.id) }}">
    <h2 class="post-title">[{{ event.get_status_display() }}]&nbsp;{{ event.title }}&nbsp;
      ({{ prop.difficulty }}{% if prop.event_type %}{{ prop.get_event_type_display() }}{% else %}級隊{% endif %})
    </h2>
  </a>
  <div class="post-meta">
    <ul>
      <li>
        <i class="tf-ion-ios-calendar"></i> 建立時間： {{ prop.created_at_str }}
      </li>
      <li>
        <i class="tf-ion-android-person"></i> 建立者： {{ prop.created_by.username }}
      </li>
      {% if prop.updated_at %}
      <li>
        <i class="tf-ion-edit"></i> 最後修改： {{ prop.updated_at_str }}
      </li>
      {% endif %}
    </ul>
  </div>

  <div class="post-content">
    <div>
      <p>
        時間：{{ prop.start_date_str }}&nbsp;～&nbsp;{{ prop.end_date_str }}
        &nbsp;&nbsp;&nbsp;&nbsp;
        領隊：{{ prop.leader.display_name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;嚮導：{{ prop.guide.display_name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        天數：{{ prop.days }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </p>
      <p>
        {% for a in prop.attendees %}
        {% if a.user_id %}<b><a style="color: cornflowerblue;"
            href="{{ url_for('user.detail', user_id=a.user_id ) }}">{{ a.attendee_display }}</a></b>
        {% else %}
        {{ a.attendee_display }}
        {% endif %}
        、{% endfor %}
      </p>
    </div>
  </div>
</div>
</a>
{% endfor %}
{% endblock %}
