{% extends "users/user_posts_home.html" %}
{% block page_name %}
我的企劃書
{% endblock%}
{% block sub_content %}
{% if not proposals %}您尚未使用開隊功能、尚未新增任何企劃書{% endif %}
{% for prop in proposals %}

<div class="post">
  {% if not prop.event_id %}
  <h2 class="post-title">
    <a href="{{ url_for('proposal.detail', prop_id=prop.id) }}">{{ prop.title }}&nbsp;&nbsp;</a>
  </h2>
  {% else %}
  <h2 class="post-title">
    <a href="{{ url_for('proposal.detail', prop_id=prop.id) }}">[已發佈]&nbsp;{{ prop.title }}&nbsp;&nbsp;</a>
    <a href="{{ url_for('event.detail', event_id=prop.event_id) }}" title="查看出隊文" type="button"
      class="btn btn-default btn-round-full"><i class="tf-ion-eye"></i></a>
  </h2>
  {% endif %}
  <div class="post-meta">
    <ul>
      <li>
        <i class="tf-ion-ios-calendar"></i> 建立時間： {{ prop.created_at_str }}
      </li>
      <li>
        <i class="tf-ion-android-person"></i> 建立者： {{ prop.created_by.username }}
      </li>
      {% if prop.updated_at %}
      <li>
        <i class="tf-ion-edit"></i> 最後修改： {{ prop.updated_at_str }}
      </li>
      {% endif %}
    </ul>
  </div>

  <div class="post-content">
    <div>
      <p>
        時間：{{ prop.start_date_str }}&nbsp;～&nbsp;{{ prop.end_date_str }}
        &nbsp;&nbsp;&nbsp;&nbsp;
        領隊：{{ prop.leader.display_name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;嚮導：{{ prop.guide.display_name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        天數：{{ prop.days }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;留守：{{ prop.supporter }}
      </p>
      <p>
        人員：
        {% for a in prop.attendees %}
        {{ a.attendee_display }},&nbsp;
        {% endfor %}
      </p>
    </div>
  </div>
</div>
</a>
{% endfor %}
{% endblock %}
