{% extends "event_home.html" %}

{% macro render_field(label, field_name, placeholder="", required=False) %}
<div class="form-group">
  <label>{{ label }}</label>
  <input {% if required %}required{% endif %} type="text" class="form-control" name="{{ field_name }}"
    value="{% if member|attr(field_name) %}{{ member|attr(field_name) }}{% endif %}" placeholder="{{ placeholder }}">
  {% if errors[field_name] %}
  <span style="color: red; font-size: 10px;">{{ errors[field_name] }}</span>
  {% endif %}
</div>
{% endmacro %}

{% block page_name %}
出隊人員資料
{% endblock %}

{% block sub_content %}
{% if for_updating %}
<form class="form-inline" action="{{ url_for('member.search_one') }}" method="post">
  <h3>出隊人員資料修改與刪除</h3>
  <br>
  <p>為了保障隱私，請輸入完整姓名、身份證字號來做查詢</p>
  <p>查詢後再進行修改或刪除，若查無目標資料，可建立新的成員資料</p>
  <br>
  <div class="form-group">
    <input required name="name" type="text" class="form-control" placeholder="請輸入姓名">
  </div>
  <div class="form-group">
    <input required name="security_number" type="text" class="form-control" placeholder="請輸入身份證字號(第一碼大寫)">
  </div>
  <div class="form-group">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <button type="submit" class="btn btn-lg btn-main"><i class="tf-ion-ios-search"></i> 搜尋</button>
  </div>
</form>

<br>
<br>
{% if member %}
<h4>修改人員資料&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="button" data-toggle="modal" data-target="#Modal" class="btn btn-danger inline"><i class="tf-ion-close"
      aria-hidden="true"></i>&nbsp;&nbsp;刪除此筆</button>
  <a type="button" class="btn btn-primary inline" href="{{ url_for('event.member_history', member_id=member.id )}}">
    檢視該員出隊資料
  </a>
</h4>
<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4>你確定要刪除此筆人員資料？刪除後將無法復原喔！</h4>
      </div>
      <div class="modal-footer">
        <form action="{{ url_for('member.delete', member_id=member.id)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-danger">確定刪除</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% else %}
<h4>新增人員資料</h4>
{% endif %}
<hr>
{% if member or not for_updating %}
<span style="color: red; font-size: 12px;">*為必填欄位</span>
<br><br>
<form class="checkout-form" method="POST"
  action="{% if for_updating %}{{ url_for('member.update', member_id=member.id) }}{% else %}{{ url_for('member.create') }}{% endif %}">
  <p>基本資料</p>
  {{ render_field("真實姓名*", "name", "", True) }}
  <div class="checkout-country-code clearfix">
    {{ render_field("綽號", "nickname", "ex: 串串（用於網站名稱顯示，可以不填寫）") }}
    {{ render_field("手機號碼*", "cellphone_number", "ex: 0912345678", True) }}
  </div>
  <div class="checkout-country-code clearfix">
    {{ render_field("身份證字號*", "security_number", "ex: A123456789") }}
    <div class="form-group">
      <label>生日*(西元/月/日)</label>
      <input required type="text" class="form-control" name="birthday"
        value="{{ member.inputted_birthday or member.birthday_str }}" placeholder="ex: 1990/05/13">
      {% if errors.birthday %}<span style="color: red; font-size: 10px;">{{ errors.birthday }}</span>{% endif %}
    </div>
  </div>
  <br>
  <p>最高資歷</p>
  {{ render_field("路線", "highest_difficulty_experience", "ex: 嵐山 / 南二段 / 大小水沖") }}
  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <span style="font-size: 10px; color: grey;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;山協等級*</span>
        <select class="form-control" name="level">
          {% for value, display in choices.level %}
          <option value="{{ value }}" {% if member.level == value %}selected{% endif %}>{{ display }}</option>
          {% endfor %}
        </select>
        {% if errors.level %}<span style="color: red; font-size: 10px;">{{ errors.level }}</span>{% endif %}
      </div>
      <div class="col-md-4">
        <span style="font-size: 10px; color: grey;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;路線難度</span>
        <select class="form-control" name="highest_difficulty">
          {% for value, display in choices.difficulty %}
          <option value="{{ value }}" {% if member.highest_difficulty == value %}selected{% endif %}>{{ display }}
          </option>
          {% endfor %}
        </select>
        {% if errors.highest_difficulty %}<span
          style="color: red; font-size: 10px;">{{ errors.highest_difficulty }}</span>{% endif %}
      </div>
      <div class="col-md-4">
        <span style="font-size: 10px; color: grey;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;嚮導隊</span>
        <select class="form-control" name="group">
          {% for value, display in choices.group %}
          <option value="{{ value }}" {% if member.group == value %}selected{% endif %}>{{ display }}</option>
          {% endfor %}
        </select>
        {% if errors.group %}<span style="color: red; font-size: 10px;">{{ errors.group }}</span>{% endif %}
      </div>
    </div>

  </div>
  <br>
  <p>校內、校外、OB</p>
  <div class="checkout-country-code clearfix">
    {{ render_field("系級/OB/校外*", "department_and_grade", "ex: 水利四 / OB / 物理所 / 校外", True) }}
    {{ render_field("學號", "student_id", "OB或校外不用填寫") }}
  </div>
  <br>
  <p>醫藥相關</p>
  <div class="checkout-country-code clearfix">
    {{ render_field("藥物過敏", "drug_allergy", "ex: 蠶豆症、沒有的話不用填寫") }}
    {{ render_field("血型", "blood_type", "ex: A, O, AB") }}
  </div>
  <br>
  <p>緊急聯絡人</p>
  {{ render_field("聯絡人姓名*", "emergency_contact", "", True) }}
  <div class="checkout-country-code clearfix">
    {{ render_field("聯絡人電話*", "emergency_contact_phone", "", True) }}
    {{ render_field("聯絡人關係", "emergency_contact_relationship", "ex: 父 / 母 / 女友 / 兄 / 室友") }}
  </div>
  <!-- submit button -->
  <div class="form-group">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <button type="submit" class="btn btn-lg btn-main mt-20">
      {% if for_updating %}修改{% else %}建立{% endif %}
    </button>
  </div>
</form>
{% endif %}
{% endblock %}
