{% extends "base.html" %}

{% block content %}
<section class="signin-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
          <a class="logo" href="/">
            <img src={{ url_for("static", filename="images/logo.png") }} alt="">
          </a>
          <form class="text-left clearfix" action="" method="post">
            <div>{% include 'alerts.html' %}</div>
            <h4 class="text-center">請輸入邀請信信箱</h4>
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <div class="form-group">
              {{ form.email(class_="form-control") }}
            </div>
            {% if form.email.errors %}
            {% for error in form.email.errors %}
            <p>{{ error }}</p>
            {% endfor %}
            {% endif %}
            <div class="text-center">
              <button type="submit" class="btn btn-main text-center">送出</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
