{% extends "base.html" %}

{% macro render_field(field) %}
<div class="form-group">
  <!-- <input type="email" class="form-control" placeholder="Email"> -->
  {{ field.label }}
  <br>
  {{ field(class_='form-control') }}
  {% if field.errors %}
  {% for error in field.errors %}
  <span style="color: red; font-size: 10px;">{{ error }}</span>
  {% endfor %}
  {% endif %}
</div>
{% endmacro %}

{% block content %}
<section class="signin-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
          <a class="logo" href="/">
            <img src="{{ static_url('images/stt_logo.png') }}" alt="">
          </a>
          <form class="text-left clearfix" action="" method="post">
            <h4 class="text-center">信箱登入</h4>
            {% include 'alerts.html' %}
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            <div class="text-center col-md-12">
              <button type="submit" class="btn btn-main text-center">送出</button>
            </div>
          </form>
          <hr>
          <p class="text-center">使用其他方式登入</p>
          <a href="#">
            <button class="btn btn-primary btn-lg disabled" aria-disabled="true"><i
                class="tf-ion-social-facebook"></i>&nbsp&nbspFacebook</button>
          </a>
          <a href="{{ url_for("auth.google_login") }}">
            <button class="btn btn-danger btn-lg"><i class="tf-ion-social-google"></i>&nbsp&nbspGoogle</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
